<div class="flex h-screen bg-gray-50 border border-gray-300 rounded-md">
    <!-- Sidebar -->
    <aside class="w-64  text-gray-800 flex flex-col border-r border-gray-300">
      <div class="p-4 text-2xl font-bold">Admin Dashboard</div>
      <nav class="flex flex-col space-y-4 p-4">
        <a 
          routerLink="/dashboard/users" 
          routerLinkActive="bg-gray-600 text-white"
          class="p-2 rounded hover:bg-gray-600"
        >
          Users
        </a>
        <a 
          routerLink="/dashboard/restaurants" 
          routerLinkActive="bg-gray-600 text-white"
          class="p-2 rounded hover:bg-gray-600"
        >
          Restaurants
        </a>
        <a 
          routerLink="/dashboard/orders" 
          routerLinkActive="bg-gray-600 text-white"
          class="p-2 rounded hover:bg-gray-600"
        >
          Orders
        </a>
      </nav>
    </aside>
  
    <!-- Main Content Area -->
    <main class="flex-1 p-8">
      <router-outlet></router-outlet>
    </main>
</div>
