<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let item of menuItems" class="bg-white rounded-md shadow-md overflow-hidden">
        <img [src]="item.imageUrl" class="w-full h-40 object-cover" alt="{{ item.name }}">
        <div class="p-4">
            <h5 class="text-lg font-semibold mb-2">{{ item.name }}</h5>
            <!-- <p class="text-sm text-gray-600 mb-2">{{ item.description }}</p> -->
            <div class="flex justify-between items-center">
                <span class="text-lg font-bold">${{ item.price.toFixed(2) }}</span>
                <button (click)="addToCart(item)" class="text-white bg-gray-800 rounded-full p-2 hover:bg-gray-600" title="Add to Cart">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
