# Database Configuration
DB_USER=postgres
DB_PASSWORD=your_secure_password
DB_NAME=streammymeal

# Redis Configuration
REDIS_PASSWORD=your_secure_redis_password

# Kafka Configuration
KAFKA_ADVERTISED_HOST_NAME=your-ec2-public-dns-or-ip

# PGAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@streammymeal.com
PGADMIN_DEFAULT_PASSWORD=admin

# Grafana Configuration
GRAFANA_ADMIN_PASSWORD=admin

# Application Configuration
# SPRING_PROFILES_ACTIVE=cloud
# SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${DB_NAME}
# SPRING_REDIS_HOST=redis
# SPRING_REDIS_PASSWORD=${REDIS_PASSWORD}
# SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
